# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives<b>:

-  Some of the popular languages that Data Scientists use

-  Some of the commonly used libraries used by Data Scientists

-  Evaluating Arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. JaVA

Some of the commonly used libraries used by Data Scientists include:
1. PyTorch
2. TensorFlow
3. Pandas

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60.
minutes = 200
print("%02d:%02d" % (divmod(minutes, 60)))

03:20

## Author
Amanat Kafizov